body {
    padding: 0;
    margin: 0;
}
h2 {
    margin: 9px 20px 20px;
}


#btn {
    border: 1px solid rgba(137, 43, 226, 0.205);
    border-radius: 6px;
    width: 5em;
    line-height: 24px;
    color: blueviolet;
    font-weight: 700;
    font-size: 15px;
}

.btn {
    border: 1px solid rgba(137, 43, 226, 0.205);
    border-radius: 6px;
    line-height: 24px;
    color: blueviolet;
    font-weight: 700;
    font-size: 15px;
    margin-inline-start: auto;
    margin-right: 17px;
}

/* стили для списка дел */
#list {
    max-width: 30em;
 
    margin: 0 auto;
    margin-top: 2%;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(127, 117, 165);
    font-weight: 700;
    padding: 10px;
}

.new_task {
    border-bottom: 1px solid rgba(14, 194, 207, 0.473);
    padding: 5px;
    display: flex;
    justify-content: space-between;
}


.tasks-list div {
    display: flex;
    align-items: center;
    margin: 5px 10px;
}
.inp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3%;
}

#input_text {
    height: 20px;
    border-radius: 5px;
    border-color: blueviolet;
}

.checked {
    background-color: antiquewhite;
    color: chocolate;
}